$offset: 50%;

// Colors:
$contentContainerBackgroundColor: hsl(0, 0%, 100%);
$bodyBackground: hsl(26, 40%, 92%);
$headerColor: hsl(240, 3%, 48%);
$h1Color: hsl(212, 19%, 14%);
$pColor: hsl(240, 3%, 59%);
$newPriceColor: hsl(158, 39%, 36%);
$oldPriceColor: hsl(240, 4%, 53%);
$addToCartBtnBackgroundColor: hsl(158, 36%, 37%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: $bodyBackground;
}
.product-preview-container{
    position: absolute;
    top: $offset;
    left: $offset;
    transform: translate(-$offset, -$offset);

    display: flex;
    flex-direction: column;
    
    border-radius: 1rem;
    width: 21.438rem;
    background: $contentContainerBackgroundColor;

    .hero-img{
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .content-container{
        padding: 1.25rem;
    }
    header{
        color: $headerColor;
    }
    h1{
        color: $h1Color;
    }
    p{
        color: $pColor;
    }
    .new-price{
        color: $newPriceColor;
    }
    .old-price{
        color: $oldPriceColor;
        text-decoration: line-through;
    }
    button{
        color: white;
        background: $addToCartBtnBackgroundColor;
        border: 0;
    }
    .cart-icon{

    }
}
