$offset: 50%;

// Colors:
$contentContainerColor: hsl(0, 0%, 100%);
$bodyBackground: hsl(26, 40%, 92%);
$headerColor: hsl(212, 19%, 14%);
$h1Color: hsl(240, 3%, 48%);
$pColor: hsl(240, 3%, 59%);
$newPriceColor: hsl(158, 39%, 36%);
$oldPriceColor: hsl(240, 4%, 53%);
$addToCartBtnBackgroundColor: hsl(158, 36%, 37%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-preview-container{
    position: absolute;
    top: $offset;
    left: $offset;
    transform: translate(-$offset, -$offset);

    display: flex;
    flex-direction: column;
    
    width: 25%;
    padding: 1rem;
    background: red;

    .heroImg{
        width: 100%;
        border-radius: 1rem;
    }
    .content-container{
        padding: 1rem;
    }
    header{

    }
    h1{

    }
    p{

    }
    .new-price{

    }
    .old-price{

    }
    button{

    }
    .cart-icon{

    }
}
