@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Fraunces");
/*If i want to get different font-weights i need to download them from the api!*/

// Colors:
$white: hsl(0, 0%, 100%);
$bodyBackground: hsl(26, 40%, 92%);
$headerColor: hsl(240, 3%, 48%);
$h1Color: hsl(212, 19%, 14%);
$pColor: hsl(240, 3%, 59%);
$newPriceColor: hsl(158, 39%, 36%);
$oldPriceColor: hsl(240, 4%, 53%);
$cartBtnBackground: hsl(158, 36%, 37%);
// Active state colors
$activeColor: hsl(156, 42%, 18%);

// Font stuff
$fontSizeP: 0.875rem;
$fontWeightH1: 700;

// Random
$offset: 50%;
$borderRadius: 1rem;

*{
    /*BOILERPLATE STYLES*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
body{
    background: $bodyBackground;
}
.product-preview-container{
    position: absolute;
    top: $offset;
    left: $offset;
    transform: translate(-$offset, -$offset);
    
    border-radius: $borderRadius;
    width: 21.438rem;
    background: $white;

    .hero-img{
        width: 100%;
        border-radius: $borderRadius $borderRadius 0 0;
    }
    .content-container{
        padding: 1.375rem;
        background: $white;

        header{
            color: $headerColor;
            font-size: 0.75rem;
            margin: 0 0 0.875rem 0;
        }
        h1{
            color: $h1Color;
            font-family: "Fraunces";
            font-weight: $fontWeightH1;
            margin: 0 0 1rem 0;
        }
        p{
            color: $pColor;
            font-size: $fontSizeP;
            line-height: 1.375rem;
            margin: 0 0 1rem 0;
            padding: 0 0.25rem 0 0;
        }
        .price-container{
            display: flex;
            align-items: center;
            margin: 0 0 1rem 0;
            .new-price{
                color: $newPriceColor;
                font-family: "Fraunces";
                font-size: 1.875rem;
                font-weight: 600;
                margin: 0 1.25rem 0 0;
            }
            .old-price{
                color: $oldPriceColor;
                text-decoration: line-through;
                font-size: 0.875rem;
            }
        }
        button{
            color: $white;
            background: $cartBtnBackground;
            width: 100%;
            border: 0;
            border-radius: 0.635rem;
            padding: 1rem;
            font-weight: 600;
    
            display: flex;
            justify-content: center;
    
            .cart-icon{
                margin: 0 0.625rem;
            }
            //Sass nested ampersand pseudo classes
            &:hover{
                background: $activeColor;
                cursor: pointer;
            }
            &:focus{
                background: $activeColor;
                cursor: pointer;
            }
        }
    }
}

/*Desktop version is able to fit onto the screen at 700px with space around!*/
@media (min-width: 700px) {
    .product-preview-container{
        display: flex;
        border-radius: $borderRadius $borderRadius $borderRadius $borderRadius;
        /*Width taken from px in designs and converted to rem unit*/
        width: 37.5rem;
        .hero-img{
            border-radius: $borderRadius 0 0 $borderRadius;
            /*First time ive seen this property!*/
            content: url("../images/image-product-desktop.jpg");
            /*With flex we want the content and the image to take up 50%*/
            width: 50%;
        }
        .content-container{
            border-radius: 0 $borderRadius $borderRadius 0;
            padding: 2.125rem;
            
            header{
                margin: 0 0 1rem 0;
            }
            .price-container{
                margin: 0 0 2rem 0;
            }
        };
    }
}