@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Fraunces");
/*If i want to get different font-weights i need to download them from the api!*/
* {
  /*BOILERPLATE STYLES*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background: hsl(26, 40%, 92%);
}

.product-preview-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  width: 21.438rem;
  background: hsl(0, 0%, 100%);
}
.product-preview-container .hero-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.product-preview-container .content-container {
  padding: 1.375rem;
  background: hsl(0, 0%, 100%);
}
.product-preview-container .content-container header {
  color: hsl(240, 3%, 48%);
  font-size: 0.75rem;
  margin: 0 0 0.875rem 0;
}
.product-preview-container .content-container h1 {
  color: hsl(212, 19%, 14%);
  font-family: "Fraunces";
  font-weight: 700;
  margin: 0 0 1rem 0;
}
.product-preview-container .content-container p {
  color: hsl(240, 3%, 59%);
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin: 0 0 1rem 0;
  padding: 0 0.25rem 0 0;
}
.product-preview-container .content-container .price-container {
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;
}
.product-preview-container .content-container .price-container .new-price {
  color: hsl(158, 39%, 36%);
  font-family: "Fraunces";
  font-size: 1.875rem;
  font-weight: 600;
  margin: 0 1.25rem 0 0;
}
.product-preview-container .content-container .price-container .old-price {
  color: hsl(240, 4%, 53%);
  text-decoration: line-through;
  font-size: 0.875rem;
}
.product-preview-container .content-container button {
  color: hsl(0, 0%, 100%);
  background: hsl(158, 36%, 37%);
  width: 100%;
  border: 0;
  border-radius: 0.635rem;
  padding: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.product-preview-container .content-container button .cart-icon {
  margin: 0 0.625rem;
}
.product-preview-container .content-container button:hover {
  background: hsl(156, 42%, 18%);
  cursor: pointer;
}
.product-preview-container .content-container button:focus {
  background: hsl(156, 42%, 18%);
  cursor: pointer;
}

/*Desktop version is able to fit onto the screen at 700px with space around!*/
@media (min-width: 700px) {
  .product-preview-container {
    display: flex;
    border-radius: 1rem 1rem 1rem 1rem;
    /*Width taken from px in designs and converted to rem unit*/
    width: 37.5rem;
  }
  .product-preview-container .hero-img {
    border-radius: 1rem 0 0 1rem;
    /*First time ive seen this property!*/
    content: url("../images/image-product-desktop.jpg");
    /*With flex we want the content and the image to take up 50%*/
    width: 50%;
  }
  .product-preview-container .content-container {
    border-radius: 0 1rem 1rem 0;
    padding: 2.125rem;
  }
  .product-preview-container .content-container header {
    margin: 0 0 1rem 0;
  }
  .product-preview-container .content-container .price-container {
    margin: 0 0 2rem 0;
  }
}/*# sourceMappingURL=index.css.map */